<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta
        name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1"
        />
        <title>CV - Vic Moses Delica</title>
        <link rel="shortcut icon" href="https://img.icons8.com/external-filled-outline-wichaiwi/452/external-persona-uxui-design-filled-outline-wichaiwi.png">
        <link href="../static/resume.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Allan&family=Arvo&family=Bebas+Neue&family=Courier+Prime&family=Major+Mono+Display&family=Poppins&family=Staatliches&family=Xanh+Mono&display=swap" rel="stylesheet"> 
    </head>
<body>
    <header id="header" class="grid">
        <div class="content-wrap">
            <div class="pfp">
                <img src="../static/imgs/Vic_000.jpg" alt="">
            </div>
            <div class="personal-info">
                <div class="name">
                    Vic Moses S. Delica
                    <hr>
                </div>
                <div class="details">
                    <ul>
                        <li class="info-card">
                            <img src="https://img.icons8.com/ios/50/000000/apple-phone.png"/>
                            <p>0917-517-7234</p>
                        </li>
                        <li class="info-card">
                            <img src="https://img.icons8.com/ios/50/000000/email-open.png"/>
                            <p>vic_delica@yahoo.com</p>
                        </li>
                        <li class="info-card">
                            <img src="https://img.icons8.com/ios/30/000000/address--v1.png"/>
                            <p>Blk 65 Lot 21 Phase D, <br>
                                Windward Hills Subd., <br>
                                Dasmariñas, Cavite 4114</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
<!-- MAIN -->
    <main>
<!-- SECTION A - CREDENTIALS -->
        <section id="section-A" class="grid">
            <div class="content-wrap">
                <div id="experience" class="credentials">
                    <div class="cred-title">
                        experience:
                        <hr>
                    </div>
                    <ul>
                        <li> 
                            <div class="main-text">
                                Sr. Data Analyst
                            </div>
                            <div class="sub-text">
                                <p><span>
                                    <a href="https://www.aarki.com/about" target="_blank">
                                    Aarki, Inc.
                                    </a>
                                </span></p>
                                Nov.2020-<br>Mar.2021
                            </div>
                        </li>
                        <li>
                            <div class="main-text">
                                Data Analyst
                            </div>
                            <div class="sub-text">
                                <p><span>
                                    <a href="https://www.aarki.com/about" target="_blank">
                                    Aarki, Inc.
                                    </a>
                                </span></p>
                                Jan.2019-<br>Nov.2020
                            </div>
                        </li>
                        <li>
                            <div class="main-text">
                                Jr. Data Analyst
                            </div>
                            <div class="sub-text">
                                <p><span>
                                    <a href="https://www.aarki.com/about" target="_blank">
                                    Aarki, Inc.
                                    </a>
                                </span></p>
                                Oct.2018-<br>Jan.2019
                            </div>
                        </li>
                        <li>
                            <div class="main-text">
                                Intern - <br> Online University Techinical Support
                            </div>
                            <div class="sub-text">
                                2017-2018
                            </div>
                        </li>
                        <li>
                            <div class="main-text">
                                Misc. - <br> Global <br> Game Jam
                            </div>
                            <div class="sub-text">
                                2017
                            </div>
                        </li>
                        <li>
                            <div class="main-text">
                                Misc. - <br> Student Council <br> Secretary
                            </div>
                            <div class="sub-text">
                                2016-2017
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="skills" class="credentials">
                    <div class="cred-title">
                        skills:
                        <hr>
                    </div>
                    <ul>
                        <li>
                            <div class="main-text">
                                Python
                            </div>
                            <div class="sub-text">
                                ●●●●○
                            </div>
                        </li>
                        <li>
                            <div class="main-text">
                                MySQL
                            </div>
                            <div class="sub-text">
                                <a href="https://cert.nobleprog.com/certificate/569887/49587" target="_blank">
                                (certificate)
                                </a>
                                ●●●○○
                            </div>
                        </li>
                        <li>
                            <div class="main-text">
                                HTML / CSS
                            </div>
                            <div class="sub-text">
                                ●●●○○
                            </div>
                        </li>
                        <li>
                            <div class="main-text">
                                C++,<br> MS VB,<br> Java
                            </div>
                            <div class="sub-text">
                                ●●○○○
                            </div>
                        </li>
                        <li>
                            <div class="main-text">
                                VSCode,<br> Github
                            </div>
                            <div class="sub-text">
                                ●●○○○
                            </div>
                        </li>
                        <li>
                            <div class="main-text">
                                Hardware <br> TRBL
                            </div>
                            <div class="sub-text">
                                ●●●●○
                            </div>
                        </li>
                        <li>
                            <div class="main-text">
                                Google <br> Sheets
                            </div>
                            <div class="sub-text">
                                ●●●●○
                            </div>
                        </li>
                        <li>
                            <div class="main-text">
                                Objective Thinking
                            </div>
                            <div class="sub-text">
                                ●●●●○
                            </div>
                        </li>
                        <li>
                            <div class="main-text">
                                Problem Solving
                            </div>
                            <div class="sub-text">
                                ●●●●○
                            </div>
                        </li>
                        <li>
                            <div class="main-text">
                                Quick Study
                            </div>
                            <div class="sub-text">
                                ●●●●○
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="education" class="credentials">
                    <div class="cred-title">
                        education:
                        <hr>
                    </div>
                    <ul>
                        <li>
                            <div class="main-text">
                                <div class="grad">
                                    <span> BS in Computer Science </span>
                                </div>
                                <p>
                                    Informatics International College
                                </p>
                            </div>
                            <div class="sub-text">
                                2014-2018
                            </div>
                            <div class="sublist">
                                <div class="sublist-items">
                                    <div class="label">GPA:</div><div class="val">&nbsp;2.66</div>
                                </div>
                                <div class="sub-list-items">
                                    <div class="label">Thesis: <div class="solo">&nbsp;(solo)</div> </div>
                                    <div class="val"> 
                                        &nbsp;&nbsp;Secondary <br>
                                        &nbsp;&nbsp;Level Educ.<br>
                                        &nbsp;&nbsp;Chemistry <br>
                                        &nbsp;&nbsp;Rougelike <br>
                                        &nbsp;&nbsp;PC Game
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="main-text">
                                De la Salle <br> University <br> Dasmariñas
                            </div>
                            
                            <div class="sub-text">
                                <p><span>Architecture</span></p>
                                2011-2014
                            </div>
                        </li>
                        <li>
                            <div class="main-text">
                                St. Paul College <br> Island Park
                            </div>
                            
                            <div class="sub-text">
                                <p><span>Highscool</span></p>
                                2009-2011
                            </div>
                        </li>
                        <li>
                            <div class="main-text">
                                Rogationist College
                            </div>
                            <div class="sub-text">
                                <p><span>Highscool</span></p>
                                2007-2009
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
<!-- FOOTER -->
        <footer id="footer" class="grid">
            <div class="content-wrap">
                <div class="socials" id="linkedin">
                    <div class="icon">
                        <a href="https://www.linkedin.com/in/vic-moses-delica-368924167/" target="_blank">
                            <img src="https://img.icons8.com/wired/50/000000/linkedin--v1.png"/>
                        </a>
                    </div>
                </div>
                <div class="socials" id="github">
                    <div class="icon">
                        <a href="https://github.com/vviccdelica/vviccdelica/" target="_blank">
                            <img src="https://img.icons8.com/wired/50/000000/github.png"/>
                        </a>
                    </div>
                </div>
                <div class="socials" id="twitter">
                    <div class="icon">
                        <a href="https://twitter.com/vviccdelica" target="_blank">
                            <img src="https://img.icons8.com/wired/50/000000/twitter-circled.png"/>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </main>
</body>
</html>